
altgraph==0.17.4
cabarchive==0.2.4
cx_Freeze==8.3.0
cx_Logging==3.2.1
filelock==3.18.0
lief==0.16.5
MetaTrader5==5.0.5120
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pefile==2023.2.7
pillow==11.3.0
pygame==2.6.1
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
pystray==0.19.5
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
six==1.17.0
striprtf==0.0.29
tomli==2.2.1
tzdata==2025.2
